<% provide(:title, 'Log in') %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <label for="session_email">メールアドレス</label>
      <%= f.email_field :email, class: 'form_control'  %>

      <label for="session_password">パスワード</label>
      <%= f.password_field :password, class: 'form_control'  %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <p>はじめての方： <%= link_to "こちらから登録", signup_path %></p>

    <div class="test_login">
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.hidden_field :email, :value => "example@kidsvillage.com" %>
        <%= f.hidden_field :password, :value => "password" %>
        <%= f.submit "テストユーザーとしてログイン", class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>

</div>
