<tr class="table-info" id="kid-<%= kid.id %>">
  <td class="kid_name"><%= link_to kid.name, facility_kid_path(@facility, kid) %></td>
  <td><%= kid.school %></td>
  <td><%= kid.email %></td>
  <td>
    <%= link_to image_tag("edit_icon.png"), edit_facility_kid_path(@facility, kid), class: "right edit_icon" %>
  </td>
</tr>
