<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.image.icon.url, :class => "thumbnail thumbnail_edit" %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-sm-12">
    <hr>
    <p class="right"><%= link_to '新たに施設を追加する', new_facility_path, class: 'btn btn-warning' %></p>
    <h3>現在<%= @user.facilities.count %>つの施設を管理しています</h3>
    <br>
    <% if @user.facilities.any? %>
      <ol class="facilities">
        <%= render @facilities %>
      </ol>
    <% end %>
  </div>
</div>
