<% provide(:title, @facility.name )%>

    <div class="box row">
      <h4>自分の名前を選んでね</h4>
      <hr>
      <% if @facility.kids.any? %>
          <% if request.url.include?('for_kid') %>
            <% for kid in @kids %>
              <form class="col-xs-6 col-sm-3" method="get" action="/facilities/<%= @facility.id %>/kids/<%= kid.id %>">
                <input type="submit" class="kid_name btn btn-primary" value="<%= kid.name %>" />
                <input type="hidden" name="for_kid">
              </form>
            <% end %>
          <% end %>
      <% end %>
    </div>

    <div class="diary_button_wrapper">
      <h4>日記</h4>
      <hr>
      <form method="get" action="/facilities/<%= @facility.id %>/posts">
        <input class="btn btn-primary col-xs-3 left" type="submit" value="見る" />
        <input type="hidden" name="for_kid">
      </form>

      <form method="get" action="/facilities/<%= @facility.id %>/posts/new">
        <input class="btn btn-primary col-xs-3 left" type="submit" value="書く" />
        <input type="hidden" name="for_kid">
      </form>
    </div>
