<% provide(:title, @facility.name )%>

    <div class="center">
      <%= image_tag('logo_for_kid.png', class: 'logo_for_kid') %>
    </div>

    <div class="box row">
      <h4>自分の名前を選んでね</h4>
      <hr>
      <% if @facility.kids.any? %>
          <% if request.url.include?('for_kid') %>
            <% for kid in @kids %>
              <form class="col-xs-6 col-sm-3" method="get" action="/facilities/<%= @facility.id %>/kids/<%= kid.id %>">
                <input type="submit" class="kid_name btn btn-primary" value="<%= kid.name %>" />
                <input type="hidden" name="for_kid">
              </form>
            <% end %>
          <% end %>
      <% end %>
    </div>

    <div class="row post_button_wrapper">
      <h4>日記</h4>
      <hr>
      <%= form_tag(facility_posts_path(@facility), method: :get, class: "col-xs-4 col-sm-3 left") do %>
        <%= hidden_field_tag :for_kid, " " %>
        <%= label_tag "見る" %>
        <br>
        <%= image_submit_tag "write_post.png" %>
      <% end %>

      <%= form_tag(new_facility_post_path(@facility), method: :get, class: "col-xs-4 col-sm-3 right") do %>
        <%= hidden_field_tag :for_kid, " " %>
        <%= label_tag "書く" %>
        <br>
        <%= image_submit_tag "see_post.png" %>
      <% end %>
    </div>
