<% provide(:title, "日記一覧") %>

<div class="row post_index_for_kid">

  <form class="back_icon" method="get" action="/facilities/<%= params[:facility_id] %>">
    <%= image_submit_tag("back_icon.png")%>
    <input type="hidden" name="for_kid">
  </form>



  <div class="card-columns">
    <%= paginate @posts, param_name: 'pagination_posts' %>
    <% for post in @posts %>
      <div class="card_wrapper col-xs-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at.strftime("%Y年%-m月%-d日") %></h6>
            <p class="card-text"><%= post.content[0..20] %>...</p>
            <%= form_tag(facility_post_path(@facility, post), method: :get) do %>
              <%= hidden_field_tag :for_kid, " " %>
              <%= submit_tag("くわしく見る") %>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>


</div>
