<% provide(:title, '日記作成') %>

<div class="row">
  <form class="back_icon" method="get" action="/facilities/<%= params[:facility_id] %>">
    <%= image_submit_tag("back_icon.png")%>
    <input type="hidden" name="for_kid">
  </form>

  <h1>日記を書こう！</h1>
  <div class="post_new_for_kid">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with(model: @post, url: facility_posts_path, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <label for="post_writers">日記を書く人</label>
        <%= f.select :kid_ids, @facility.kids.all.map{|t| [t.name, t.id]}, { include_hidden: false }, { class: 'kids_select_multiple', multiple: true } %>
        <p>5人まで選べます</p>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'form_control', id: 'post_title' %>

        <%= f.label :content %>
        <p>ひとつの文が長くなりすぎないように書いてみよう！</p>
        <%= f.text_area :content, class: 'form_control', id: 'post_content' %>

        <input type="hidden" name="for_kid">
        <%= f.submit "日記を書きました！", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
        $( ".kids_select_multiple" ).select2({
          width: 600,
          multiple: true
        });
      });
</script>
