<% provide(:title, "みんなの日記") %>
<div class="row post_show_for_kid">
  <%= form_tag(facility_posts_path(@facility), method: :get, class: "back_icon") do %>
    <%= hidden_field_tag :for_kid, " " %>
    <%= image_submit_tag "back_icon.png" %>
  <% end %>

    <div class="paper">
      <div class="lines">
        <div class="text" contenteditable spellcheck="false">
          <%= @post.title %> <br /><br />
          <pre><%= @post.content %></pre>
        </div>
        <div class="holes hole-top"></div>
        <div class="holes hole-middle"></div>
        <div class="holes hole-bottom"></div>
      </div>
    </div>


</div>
