<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Sample App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="<%= root_url %>"><h1>Kids Village</h1></a>
    <%= yield %>
  </body>
  <footer>
    <a href="<%= static_pages_help_path %>">
      <p>使い方</p>
    </a>
    <p>問合せ</p>
  </footer>
</html>
